ErrorDocument 404 https://wisedba.com/404.html


RewriteEngine On
# remove the index file
RewriteCond %{THE_REQUEST} ^.*/index
RewriteRule ^(.*)index$ http://wisedba.com/$1 [R=301,L]  

# remove the .html extension 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(([^/]+/)*[^.]+)$ $1.html [L]
